#our-work {
    .slideshow {
        position: relative;
        overflow: hidden;

        width: 100%;
        aspect-ratio: 16 / 10;

        border-radius: var(--border-radius);

        .bullets li .bullet,
        > button,
        > button::before {
            transition: opacity var(--animation-duration-fast) ease-in-out;
        }

        .slides {
            display: flex;

            width: 100%;
            height: 100%;

            li {
                flex: 0 0 100%;

                img {
                    filter: contrast(1.5) brightness(0.9);

                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .overlay {
            background-image: linear-gradient(
                    to right,
                    var(--gradien-color-dark-transparent-50),
                    var(--gradien-color-dark-transparent) 30%,
                    var(--gradien-color-dark-transparent) 70%,
                    var(--gradien-color-dark-transparent-50)
                ),
                linear-gradient(
                    to top,
                    var(--gradien-color-dark-transparent-50),
                    var(--gradien-color-dark-transparent) 30%
                );

            position: absolute;
            inset: 0;
            z-index: 1;
        }

        .bullets {
            position: absolute;
            inset-block-end: 1rem;
            inset-inline-start: 50%;
            z-index: 2;

            display: flex;
            align-items: center;
            gap: 1rem;

            transform: translateX(-50%);

            li {
                .bullet {
                    background-color: var(--color-gray-98);
                    opacity: 0.5;

                    display: block;

                    width: 1rem;
                    aspect-ratio: 1 / 1;

                    border-radius: 999rem;

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }

        > button {
            --offset: 0;

            background-color: transparent;
            color: var(--color-gray-98);
            opacity: 0.6;

            position: absolute;
            isolation: isolate;
            inset-block-start: 50%;
            z-index: 2;

            height: 100%;

            padding: 0;

            transform: translateY(-50%);

            font-size: 4.8rem;

            &::before {
                content: "";

                background-image: linear-gradient(
                    var(--gradient-direction),
                    var(--gradien-color-dark-transparent-50),
                    var(--gradien-color-dark-transparent)
                );
                opacity: 0;

                position: absolute;
                inset: 0;
                z-index: -1;
            }

            &:hover {
                opacity: 1;

                &::before {
                    opacity: 1;
                }
            }

            &.previous {
                inset-inline-start: var(--offset);

                &::before {
                    --gradient-direction: to right;
                }
            }

            &.next {
                inset-inline-end: var(--offset);

                &::before {
                    --gradient-direction: to left;
                }
            }
        }
    }
}
